<section class = "center">
    <article>
        <h1>Projects</h1>
        <p>I have completed a variety of projects in multiple programming languages, including HTML/CSS/JavaScript and Python:</p>
        <nav class="verticalNavigation">
            <ul>
                <li><a href="#AcademicProjects">Academic Projects</a></li>
                <li><a href="#ExtracurricularProjects">Extracurricular Projects</a></li>
            </ul>
        </nav>

        <section class="projects">
            <h2 id="AcademicProjects">Academic Projects</h2>
            <h3>Application Development Capstone Project</h3>
            <p>My cumulative project in this program was a capstone project where, in collaboration with three other students, two teachers, and a project manager, we created an inventory management system complete with a mobile app, website, and API to access the database. We utilized .NET and MAUI technology, as well as several external APIs to build this system.</p><br />
            <h3>Client-Side Web Development</h3>
            <p>In this two-part course, I combined my knowledge of HTML, CSS, and JavaScript with learning on Node.js and its server-side technology to create projects like this portfolio website that utilize databases, routing, and hosting.</p><br />
            <h3>Software Architecture</h3>
            <p>My Software Architecture course integrated C# programming, client-side web development skills, and database connections to create dynamic websites. As part of this class, I worked with a group of three other students to create a project over the semester. Our chosen project allows users to view events near them that orgranizers have added, as well as to register and pay for attending those events.</p><br />
            <h3>User Experience Design</h3>
            <p>In my User Experience Design class, I created an app through the course of the semester, utilizing paper and digital prototypes. I tested my designs with users to ensure it follows their expectations and modified it as needed. One important change I made was the navigation system. Instead of using a hamburger menu and a single 'add' button, I found it was easier for my users to have a bottom navigation bar and a back button instead.</p><br />
            <h2 id="ExtracurricularProjects">Extracurricular Projects</h2>
            <h3>Google Drive Organizer</h3>
            <p>Using Google's scripting app, I created a program to organize my school files based on its name and sorting it by school year, subject, and unit.</p><br />
            <h3>Masks By Claire</h3>
            <p>To help grow my mask-selling business, I created a simple e-commerce website that utilizes the computer's local storage to create an order and submit it, notifying me via email.</p><br />
        </section>
    </article>
    <br /><a href="#top" class="toTop">To Top</a>
</section>