<section class = "center">
    <article>
        <h1>Contact</h1>
        <h2>Phone</h2>
        <a href="tel:+15079615576">(507) - 961 - 5576</a>
        <h2>Email</h2>
        <a href="mailto:clairegoeldner@gmail.com">ClaireGoeldner&#64;gmail.com</a>
        <h2>Address</h2>
        <address>W2007 Windsong Terrace Alma, WI 54610</address>
    </article>
    <br /><br /><a mat-raised-button color="accent" href="#top" class="toTop">To Top</a>
    <br /><br />
    <form>
        <mat-card>
            <mat-card-header>Comments</mat-card-header>
            <mat-radio-group>
                <mat-label>Please rate my qualifications based on this website:</mat-label><br />
                <mat-radio-button name="rateMe" value="1" [(ngModel)]="rateMe">1</mat-radio-button><br />
                <mat-radio-button name="rateMe" value="2" [(ngModel)]="rateMe">2</mat-radio-button><br />
                <mat-radio-button name="rateMe" value="3" [(ngModel)]="rateMe">3</mat-radio-button><br />
                <mat-radio-button name="rateMe" value="4" [(ngModel)]="rateMe">4</mat-radio-button><br />
                <mat-radio-button name="rateMe" value="5" [(ngModel)]="rateMe">5</mat-radio-button><br />
            </mat-radio-group>
            <mat-radio-group>
                <mat-label>Please rate your experience with this website:</mat-label><br />
                <mat-radio-button name="rateSite" value="1" [(ngModel)]="rateSite">1</mat-radio-button><br />
                <mat-radio-button name="rateSite" value="2" [(ngModel)]="rateSite">2</mat-radio-button><br />
                <mat-radio-button name="rateSite" value="3" [(ngModel)]="rateSite">3</mat-radio-button><br />
                <mat-radio-button name="rateSite" value="4" [(ngModel)]="rateSite">4</mat-radio-button><br />
                <mat-radio-button name="rateSite" value="5" [(ngModel)]="rateSite">5</mat-radio-button><br />
            </mat-radio-group>

            <mat-form-field>
                <mat-label>Comments:</mat-label>
                <textarea matInput  name="commentBox" placeholder="Other comments you wish to share with me" [(ngModel)]="comments"></textarea>
            </mat-form-field>
        </mat-card><br />
        <mat-card>
            <mat-card-header>Business Information</mat-card-header>
            <mat-form-field>
                <mat-label>Company: *</mat-label>
                <input matInput name="company" [(ngModel)]="company" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>First Name: *</mat-label>
                <input matInput name="fName" [(ngModel)]="fName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name: *</mat-label>
                <input matInput name="lName" [(ngModel)]="lName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>City: *</mat-label>
                <input matInput name="city" [(ngModel)]="city" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>State: *</mat-label>
                <input matInput name="state" [(ngModel)]="state" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Zip Code: *</mat-label>
                <input matInput max="99999" min="10000" name="zip" placeholder="12345" [(ngModel)]="zip" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number: *</mat-label>
                <input matInput name="phone" placeholder="(123) 456-7890" [(ngModel)]="phone" (input)="ChangePhone($event)" />
            </mat-form-field>
            <mat-error *ngIf="phoneError">
                {{ phoneError }}
                <br />
            </mat-error>
            <mat-form-field>
                <mat-label>Email Address: *</mat-label>
                <input matInput name="email" type="email" email [(ngModel)]="email" />
            </mat-form-field>
        </mat-card><br />
        <button mat-raised-button color="primary" (click)="Submit()">Submit</button>
    </form><br />
    <div>{{ results }}</div>
</section>