<div class="show">
  <header id="top">
      <a href="index"><h1>Claire Goeldner</h1></a>
      <nav class = "horizontalNavigation">
          <ul>
              <li><a href="/" title="My Portfolio Page">Home</a></li>
              <li><a href="resume" title="My Resume">Resume</a></li>
              <li><a href="projects" title="My Projects">Projects</a></li>
              <li><a href="contact" title="Contact Me">Contact</a></li>
          </ul>
      </nav>
  </header>

  <div class="flex">
    <router-outlet />
    <aside>
      <h2>Learn More About Me:</h2>
      <nav class="verticalNavigation">
        <ul>
          <li><a href="resume" title="My Resume">Resume</a></li>
          <li><a href="projects" title="My Projects">Projects</a></li>
          <li><a href="https://linkedin.com/in/claire-goeldner" title="LinkedIn">LinkedIn</a></li>
        </ul>
      </nav>
      <h2>Be Part of My Future</h2>
      <nav class="verticalNavigation">
        <ul>
          <li><a href="contact" title="Contact Me">Contact</a></li>
        </ul>
      </nav>
      <p class="asideText">I am a driven young woman with a wide variety of interests. These include finance, programming, dance, art, and religion.</p>
    </aside>
  </div>
  
  <footer>
    <a href="mailto:clairegoeldner@gmail.com">ClaireGoeldner&#64;gmail.com</a>
    <a href="tel:+15079615576">(507) - 961 - 5576</a>
    <address>W2007 Windsong Terrace Alma, WI 54610</address>
  </footer>
</div>